[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "==4.0.2"
install = "*"
django = "==3.2.4"
django-crispy-forms = "*"

[dev-packages]

[requires]
python_version = "3.9"
